<!DOCTYPE html>
<html>
<head>
  <title>Core 3 Property Management</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
    @font-face {
      font-family: 'PT Serif';
      font-style: normal;
      font-weight: normal;
      src: local('PT Serif'), local('PTSerif-Regular'), url('http://themes.googleusercontent.com/static/fonts/ptserif/v4/sDRi4fY9bOiJUbgq53yZCXYhjbSpvc47ee6xR_80Hnw.woff') format('woff');
    }
    @font-face {
      font-family: 'PT Serif';
      font-style: italic;
      font-weight: normal;
      src: local('PT Serif Italic'), local('PTSerif-Italic'), url('http://themes.googleusercontent.com/static/fonts/ptserif/v4/03aPdn7fFF3H6ngCgAlQzL3hpw3pgy2gAi-Ip7WPMi0.woff') format('woff');
    }
    @font-face {
      font-family: 'PT Serif';
      font-style: normal;
      font-weight: bold;
      src: local('PT Serif Bold'), local('PTSerif-Bold'), url('http://themes.googleusercontent.com/static/fonts/ptserif/v4/QABk9IxT-LFTJ_dQzv7xpLrIa-7acMAeDBVuclsi6Gc.woff') format('woff');
    }
    @font-face {
      font-family: 'PT Serif';
      font-style: italic;
      font-weight: bold;
      src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'), url('http://themes.googleusercontent.com/static/fonts/ptserif/v4/Foydq9xJp--nfYIx2TBz9XbFhgvWbfSbdVg11QabG8w.woff') format('woff');
    }

    @font-face {
      font-family: 'PT Sans';
      font-style: normal;
      font-weight: bold;
      src: local('PT Sans Bold'), local('PTSans-Bold'), url('http://themes.googleusercontent.com/static/fonts/ptsans/v4/0XxGQsSc1g4rdRdjJKZrNL3hpw3pgy2gAi-Ip7WPMi0.woff') format('woff');
    }
    @font-face {
      font-family: 'PT Sans';
      font-style: italic;
      font-weight: bold;
      src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url('http://themes.googleusercontent.com/static/fonts/ptsans/v4/lILlYDvubYemzYzN7GbLkKRDOzjiPcYnFooOUGCOsRk.woff') format('woff');
    }
    @font-face {
      font-family: 'PT Sans';
      font-style: italic;
      font-weight: normal;
      src: local('PT Sans Italic'), local('PTSans-Italic'), url('http://themes.googleusercontent.com/static/fonts/ptsans/v4/PIPMHY90P7jtyjpXuZ2cLLO3LdcAZYWl9Si6vvxL-qU.woff') format('woff');
    }
    @font-face {
      font-family: 'PT Sans';
      font-style: normal;
      font-weight: normal;
      src: local('PT Sans'), local('PTSans-Regular'), url('http://themes.googleusercontent.com/static/fonts/ptsans/v4/7YGmE4Ls5b94ct65u07hVQLUuEpTyoUstqEm5AMlJo4.woff') format('woff');
    }

    body { background: url('/assets/background1.JPG') no-repeat center center fixed; }
    .main-content.container{ background: #fdfdfd; background: rgba(246,246,246,0.5) ; background: url("/assets/noise-white.jpg") repeat ;}
    .header-logo { background-color: #fff; }
    .sub-header-logo { width: 100%; }
    .footer { background: url("/assets/noise-grey.jpg") repeat; border-top: 1px solid silver; clear: both; padding: 20px 0px; }
    .footer p { width: 75%; margin: 0 auto; font-size: .9em; color: #fff; }
    ul.locations { list-style: none; }
    ul.location-details { list-style: none; }
    ul#hotel-list { list-style: none; margin-right: 60px; }
    ul#hotel-list li.hotel { text-align: left; margin-bottom: 15px; }
    ul#hotel-list li.hotel { border-bottom: 2px solid silver; }
    ul#hotel-list li.hotel h3 { margin-bottom: 0px; }
    
    
    ul#hotel-list .address { list-style: none;  }    
    ul#hotel-list .address li { padding-bottom: 4px;  }
    ul.staff { list-style: none; }
    ul.person-details { list-style: none; }
    .side-text { padding: 15px; font-family: "PT Serif",Georgia,Times,"Times New Roman",serif; font-size: 1.25em; color: #353E34;}
    .content-container { padding: 15px; }
    h2 { font-size: 2.2em; }
  h1, h2, h3, h4, h5, h6 { font-family: "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif; text-rendering: optimizelegibility; margin-bottom: .5em; font-weight: bold;}
  .content-container p { font-family: "PT Serif",Georgia,Times,"Times New Roman",serif; font-size: 1.25em; color: #353E34; }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"></head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="<%= root_url %>">Core 3 Property Management</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Properties", properties_url %></li>
            <li><%= link_to "Management Services", services_url %></li>
            <li><%= link_to "About Us - Philosophy", about_url %></li>
            <li><%= link_to "Staff Bios", staff_url %></li>
            <li><%= link_to "Contact Us", contact_url %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container main-content">
    <div class="header-logo">
      <%= image_tag("logo.png", :border => 0, :class => "header-logo" ) %>
    </div>
      <%= image_tag("TopPhoto0" + (1 + rand(6)).to_s() + ".jpg", :border => 0, :class => "sub-header-logo" ) %>

      <%= yield %>  
    <div class="footer">
      <p>
        Core 3 Property Management, under the leadership of Mark Fetzer, focuses in asset management solutions, hospitality management services, commercial property development, real estate investment management, construction management services, and real estate design. ©2012 Core 3 Property Management. All Rights Reserved.
      </p>
    </div>
  </div>
</body>
</html>